<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="utf-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="loadmodule" content="Admin.Login" error="login.html" />
<meta name="loadmodule" content="Twitter.GlobalSetting.Save" />
<meta name="loadmodule" content="Twitter.GlobalSetting.List" />
<!--{include file="common/header.html" subtitle=""}-->
</head>
<body>
    <!--{include file="common/menu.html"}-->
    <div class="container">
        <div class="row">
            <form action="setting.html" method="POST">
            <!--{foreach from=$attr.globalSettings item="setting"}-->
            <div class="span12">
                <h2>楽天アフィリ設定</h2>
                <div><a href="https://webservice.rakuten.co.jp/app/list" target="_blank">こちら</a>から確認できます。</div>
                <div class="form-group">
                <input type="hidden" name="global_setting_id" value="<!--{$setting->global_setting_id}-->" />
                <label>アプリID/デベロッパーID(applicationId / developerId)</label><input type="text" class="form-control" id="rakuten_application_id" name="rakuten_application_id" value="<!--{$setting->rakuten_application_id}-->" />
                <label>アフィリエイトID(affiliateId)</label><input type="text" class="form-control" id="rakuten_affiliate_id" name="rakuten_affiliate_id" value="<!--{$setting->rakuten_affiliate_id}-->" />
                </div>
                <div class="form-group">
                <input type="submit" class="btn btn-default" id="save" name="save" value="保存する" />
                </div>
                </form>
            </div>
            <!--{foreachelse}-->
            <div class="span12">
                <h2>楽天アフィリ設定</h2>
                <div><a href="https://webservice.rakuten.co.jp/app/list" target="_blank">こちら</a>から確認できます。</div>
                <div class="form-group">
                <label>アプリID/デベロッパーID(applicationId / developerId)</label><input type="text" class="form-control" id="rakuten_application_id" name="rakuten_application_id" value="" />
                <label>アフィリエイトID(affiliateId)</label><input type="text" class="form-control" id="rakuten_affiliate_id" name="rakuten_affiliate_id" value="" />
                </div>
                <div class="form-group">
                <input type="submit" class="btn btn-default" id="save" name="save" value="保存する" />
                </div>
                </form>
            </div>
            <!--{/foreach}-->
            </form>
        </div>
    </div>
    <div class="footer_space"></div>
    <!--{include file="common/footer.html"}-->
    <!--{include file="common/script.html"}-->
</body>
</html>