<tr><td class="form-inline">
<!--{if $index > 1}-->
<label>
<label class="control-label">フォロワー</label>
<input type="text" size="5" data-column="follower_limit_<!--{$index}-->_<!--{$account->account_id|default:0}-->" class="follower_limit_<!--{$index}--> form-control">
<label class="control-label">人以上のとき</label>
</label>
<!--{else}-->
<label>
<p class="form-control-static">デフォルト</p>
</label>
<!--{/if}-->
</td><td class="form-inline">
<label>
<label class="control-label">フォロー間隔<br />（１フォロー毎の待機時間）</label>
<input type="text" size="6" data-column="follow_interval_<!--{$index}-->_<!--{$account->account_id|default:0}-->" class="follow_interval_<!--{$index}--> form-control">
<label class="control-label">秒</label>
</label>
</td><td class="form-inline">
<label>
<label class="control-label">リフォロー待ち最低時間</label>
<input type="text" size="6" data-column="refollow_timeout_<!--{$index}-->_<!--{$account->account_id|default:0}-->" class="refollow_timeout_<!--{$index}--> form-control">
<label class="control-label">時間</label>
</label>
</td><td class="form-inline">
<label class="control-label">1日あたりのフォロー数</label>
<input type="text" size="6" data-column="daily_follows_<!--{$index}-->_<!--{$account->account_id|default:0}-->" class="daily_follows_<!--{$index}--> form-control">
<label class="control-label">人</label>
</td></tr>