<div class="form-group form-inline">
    <textarea cols=60" id="advertise_text" class="advertise_text form-control" name="advertise_text" placeholder="登録するテキストを入力してください"></textarea>
</div>
<div class="form-group form-inline">
    <input type="button" id="add_advertise" class="add_advertise form-control btn btn-default" value="BOTに登録↓">
    <input type="button" id="delete_advertise" class="delete_advertise form-control btn btn-default" value="削除">
</div>
<table class="table table-condensed table-bordered">
<thead>
<tr>
<td class="col-md-1"><input type="checkbox" id="chk_advertise_all" /></td>
<td class="col-md-11">広告ツイート</td>
</tr>
</thead>
<tbody id="advertises">
</tbody>
</table>
